<!--CABECALHO-->
<div id="top-bar" class="container">
  <div class="row">
      <div class="span4">
          <a href="/" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
      </div>
      <div class="span8">
          <div class="account pull-right">
              <ul class="user-menu">				
                  <li><a href="#">Minha Conta</a></li>
                  <li><a href="carrinho.html">Carrinho</a></li>
                  <li><a href="confirmar-pedido.html">Checkout</a></li>					
                  <li><a href="entrar.html">Entrar</a></li>		
              </ul>
          </div>
      </div>

      <div class="span8">


          <form method="POST" class="search_form">
              <input type="text" class="input-block-level search-query" Placeholder="Digite aqui para procurar">
          </form>

      </div>
  </div> 


  <section class="navbar main-menu">
      <div class="navbar-inner main-menu">				

          <nav id="menu" class="pull-left">
              <ul>
                  <li>
      <a href="categoria.html">Canecas</a>					
                  </li>															
                  <li>
      <a href="categoria.html">Chaveiros</a>
    </li>			
                  <li>
      <a href="categoria.html">Camisetas</a>
                  </li>							
                  <li>
      <a href="categoria.html">Promoções</a>
    </li>
                  <li>
      <a href="categoria.html">Black Friday</a>
    </li>
              </ul>
          </nav>
      </div>
  </section>


</div>


<div id="wrapper" class="container">
<!--CABECALHO-->


<router-outlet></router-outlet>



<!--rodapé-->
<section id="footer-bar">
  <div class="row">
      <div class="span3">
          <h4>Navigation</h4>
          <ul class="nav">
              <li><a href="./index.html">Homepage</a></li>  
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contac Us</a></li>
              <li><a href="./carrinho.html">Your Cart</a></li>
              <li><a href="./entrar.html">Login</a></li>							
          </ul>					
      </div>
      <div class="span4">
          <h4>My Account</h4>
          <ul class="nav">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">Newsletter</a></li>
          </ul>
      </div>
      <div class="span5">
          <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
          <br/>
          <span class="social_icons">
              <a class="facebook" href="#">Facebook</a>
              <a class="twitter" href="#">Twitter</a>
              <a class="skype" href="#">Skype</a>
              <a class="vimeo" href="#">Vimeo</a>
          </span>
      </div>					
  </div>	
</section>
<section id="copyright">
  <span>Copyright 2020 All right reserved.</span>
</section>
</div>
<!--rodapé-->