
<!--CABECALHO-->
<div id="top-bar" class="container">
  <div class="row">
    <div class="span4">
      <a href="/" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" title="Logo Loja Nerd"
          alt="Logo Loja Nerd"></a>
    </div>
    <div class="span8">
      <div class="account pull-right">
        <ul class="user-menu">
          <li><a href="/carrinho" title="Carrinho de Compras"><i class="fa fa-shopping-cart"></i></a></li>
          <li *ngIf="util.getUsuario()"  ><a href="/pedidos" title="Meus Pedidos"><i class="fa fa-list" aria-hidden="true"></i></a></li>
          <li *ngIf="util.getUsuario()"><a href="/minha-conta" title="Minha Conta"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>

          <li *ngIf="util.getUsuario()"><a (click)="sair()" title="Sair"><i class="fa fa-window-close" aria-hidden="true"></i></a></li>

          <li *ngIf="!util.getUsuario()"><a href="/entrar" title="Minha Conta"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
          
        </ul>
      </div>
    </div>

    <div class="span8">

      <form method="GET" #formPesquisa name="formPesquisa" class="search_form">
        <input type="text" #box (keyup)="atualizarQ($event)" class="caixa-pesquisa"
          Placeholder="Digite aqui para procurar" />

        <button class="pesquisar" title="Pesquisar" (click)="AbrirPesquisa()">

          <i class="fa fa-search"></i>

        </button>


      </form>

    </div>
  </div>



  <section class="navbar main-menu">



    <nav id="menu">
      <div class="{{classeMenu}}" id="navbar">
        <a href="/" class="{{this.util.getIndexAtivo() == 'home'?'active':''}}">Home</a>

        <a *ngFor="let c of categorias;let i = index" href="/categoria/{{c.Data.Alias}}"
          class="{{this.util.getIndexAtivo()==c.Data.Alias?'active':''}}">{{c.Data.Nome}}</a>

        <a class="icon" style="background-color: white !important;" (click)="abrirMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </div>


    </nav>



  </section>


</div>


<div id="wrapper" class="container">
  <!--CABECALHO-->


  <router-outlet></router-outlet>



  <!--rodapé-->
  <section id="footer-bar">
    <div class="row">
      <div class="span3">
        <h4>Navegação</h4>
        <ul class="nav">
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="span3">
        <h4>Minha Conta</h4>
        <ul class="nav">
          <li><a href="/minha-conta">Minha Conta</a></li>
          <li><a href="/pedidos">Meus Pedidos</a></li>
        </ul>
      </div>

      <div class="span3">
        <h4>Siga-nos</h4>
        <span>
          <a title="Facebook Loja Nerd" href="#">
            <img src="themes/images/facebook.png" style="width: 32px; padding:10px;" />
          </a>
          <a title="Twitter Loja Nerd" href="#">
            <img src="themes/images/twitter.png" style="width: 32px; padding:10px;" />
          </a>
          <a href="#" title="Instagram Loja Nerd">
            <img src="themes/images/instagram.png" style="width: 32px; padding:10px;" />
          </a>
          <a href="#" title="Youtube">
            <img src="themes/images/youtube.png" style="width: 32px; padding:10px;" />
          </a>
        </span>
      </div>

      <div class="span3">
        <p class="logo"><img title="Logo Loja Nerd" src="themes/images/logo.png" class="site_logo" alt=""></p>
        <p>Loja Nerd. A maior Loja de Artigos Nerd do Brasil.</p>
      </div>
    </div>
  </section>
  <section id="copyright">
    <span title="Copyright ©  2020. Todos os direitos reservados.">Copyright © 2020. Todos os direitos
      reservados.</span>
  </section>
</div>
<!--rodapé-->