<br /><br />
<table>
	<td>
		<a href="/adm/categoria/cadastro">Nova Categoria</a>
	</td>
	<td>
		|
	</td>
	<td>
		<a href="/adm/categoria/lista">Listar Categorias</a>
	</td>
	<td>
		|
	</td>
	<td>
		<a href="/adm/produto/cadastro">Novo Produto</a>
	</td>
	<td>
		|
	</td>
	<td>
		<a href="/adm/produto/lista">Listar Produtos</a>
	</td>
	<td>
		|
	</td>
	<td>
		<a href="/adm/pedidos">Pedidos</a>
	</td>

</table>
<hr />

<section class="main-content">
	<div class="row">
		<div class="span12">
			<h4 class="title"><span class="text"><strong>Cadastrar Categoria</strong></span></h4>
			<form action="#" method="post">
				<fieldset>
					<div class="control-group">
						<label class="control-label">Alias da Categoria</label>
						<input type="text" [(ngModel)]="categoria.Data.Alias" name="Alias" maxlength="50"
							placeholder="identificacao da categoria"><br /><br />
					</div>
					<div class="control-group">
						<label class="control-label">Nome da Categoria</label>
						<input type="text" [(ngModel)]="categoria.Data.Nome" name="Nome" maxlength="50" size="50"
							placeholder="nome de exibição da categoria"><br /><br />
					</div>
				</fieldset>

				<div class="control-group">
					<input tabindex="3" (click)="Salvar()" class="btn btn-inverse large" type="submit" value="Salvar">
				</div>

			</form>
		</div>
	</div>
</section>