<h2>Cadastrar Produto</h2>
			<form>
			    AliasCategoria:
				<select name="AliasCategoria" (change)="updateCategoria($event)">
					<option *ngFor="let o of categorias" value="{{o.Alias}}" >{{o.Nome}} </option>

				</select>
				<br/><br/>
				<fieldset><p>Ficha do Produto:<br/><br/>
					Alias:
					<input type="text" name="Alias" maxlength="50" placeholder="identificação-do-produto"><br/><br/>
					Nome:
					<input type="text" name="Nome" maxlength="50" size="50" placeholder="nome de exibição do produto"><br/><br/>
					Descrição:
					<input type="text" name="Descricao" maxlength="200" size="100" placeholder="descrição detalhada do produto"><br/><br/>
					Quantidade em estoque:
					<input type="number" name="Qtd" placeholder="somente numeros" ><br/><br/>
					Valor:
					<input type="number" name="Valor" placeholder="xxx.xx"><br/><br/>
				</fieldset>
				<br/><br/>
				<fieldset><p>Imagens do Produto:<br/><br/>
					Imagem1:
					<input type="text" name="Foto1" (keyup)="atualizarFoto1($event)" size="50" placeholder="imagem: Base64">
					<img [src]="produto.Foto1" style="width: 300px;"/>
					<br/><br/>
					Imagem2:
					<input type="text" name="Foto2"  size="50" placeholder="imagem: Base64"><br/><br/>
					Imagem3:
					<input type="text" name="Foto3"  size="50" placeholder="imagem: Base64"><br/><br/>
					Imagem4:
					<input type="text" name="Foto4"  size="50" placeholder="imagem: Base64"><br/><br/>
				</fieldset>
				
				<br/><br/>
				
				<input type="submit" name="botão" value="Enviar"/>
								
			</form>
