<section class="main-content">
  <div class="row">
    <div class="span5">
      <h4 class="title"><span class="text"><strong>Login</strong></span></h4>
      <form action="#" method="post">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
              <input type="email" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}"  placeholder="Digite seu Email" id="username" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Senha</label>
            <div class="controls">
              <input type="password"  [(ngModel)]="Senha" [ngModelOptions]="{standalone: true}" placeholder="Digite sua senha" id="password" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <input tabindex="3" (click)="Logar()" class="btn btn-inverse large" type="submit" value="Acessar conta">
            <hr>
            <p class="reset">Recuperar seu <a href="#">nome de usuário ou senha</a></p>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="span7">
      <h4 class="title"><span class="text"><strong>Cadastre-se</strong></span></h4>
      <form action="#" method="post" class="form-stacked">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Nome</label>
            <div class="controls">
              <input type="text" [(ngModel)]="u.Data.Nome" [ngModelOptions]="{standalone: true}" placeholder="Digite seu nome" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Email:</label>
            <div class="controls">
              <input type="email" [(ngModel)]="u.Data.Email" [ngModelOptions]="{standalone: true}" placeholder="Digite seu email" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Senha:</label>
            <div class="controls">
              <input type="password" [(ngModel)]="u.Data.Senha" [ngModelOptions]="{standalone: true}" placeholder="Digite sua senha" class="input-xlarge">
            </div>
          </div>

          <hr />
          <div class="control-group">
            <label class="control-label">Cep:</label>
            <div class="controls">
              <input (blur)="buscarCep()" [(ngModel)]="u.Data.Endereco.cep" [ngModelOptions]="{standalone: true}"
                type="text" placeholder="Digite seu Cep" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Endereço:</label>
            <div class="controls">
              <input [(ngModel)]="u.Data.Endereco.logradouro" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Digite seu Logradouro" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Número:</label>
            <div class="controls">
              <input [(ngModel)]="u.Data.Endereco.numero" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Digite seu Número" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Complemento:</label>
            <div class="controls">
              <input [(ngModel)]="u.Data.Endereco.complemento" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Digite seu Complemento" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Bairro:</label>
            <div class="controls">
              <input [(ngModel)]="u.Data.Endereco.bairro" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Digite seu Bairro" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Cidade:</label>
            <div class="controls">
              <input [(ngModel)]="u.Data.Endereco.localidade" [ngModelOptions]="{standalone: true}" type="text"
                placeholder="Digite seu Cidade" class="input-xlarge">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Estado:</label>
            <div class="controls">
              <select [(ngModel)]="u.Data.Endereco.uf" [ngModelOptions]="{standalone: true}" class="input-xlarge">
                <option *ngFor="let item of ufs" value="{{item.sigla}}">{{item.nome}}</option>
              </select>
            </div>
          </div>

          <hr>
          <div class="actions">
            <input tabindex="9" (click)="CadastraUsuario()" class="btn btn-inverse large" type="submit" value="Criar conta">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>